
  .floating-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    background-color: #8566A5; 
    color: #fff; 
    padding: 15px 15px;
    border: none; 
    border-radius: 100px;
    cursor: pointer; 
  }
